
     <!-- MENU-->
     <section id="menu" data-stellar-background-ratio="0.5" {{attributes}}>
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>{{content.field_title.0}}</h2>
                              <h4>{{content.field_subtitle.0}}</h4>
                         </div>
                    </div>
                    {{content.field_menu}}
               </div>
          </div>
     </section>