
     <!-- TESTIMONIAL -->
     <section id="testimonial" data-stellar-background-ratio="0.5" style="background: url({{ file_url(content.field_background_image['#items'].entity.uri.value)}}) no-repeat center top;" {{attributes}}>
          <div class="overlay"></div>
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-12">
                         <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                              <h2>{{content.field_title.0}}</h2>
                         </div>
                    </div> 
                    <div class="col-md-offset-2 col-md-8 col-sm-12">
                         <div class="owl-carousel owl-theme">
                              {{content.field_testimonial}}
                         </div>
                    </div>

               </div>
          </div>
     </section>  