
     <!-- CONTACT -->
     <section id="contact" data-stellar-background-ratio="0.5"  {{attributes}}>
          <div class="container">
               <div class="row">
                    <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                         <div id="google-map">
                              <iframe src="{{content.field_link.0['#url']}}" allowfullscreen></iframe>
                         </div>
                    </div>    

                    <div class="col-md-6 col-sm-12">

                         <div class="col-md-12 col-sm-12">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                                   <h2>{{content.field_title.0}}</h2>
                              </div>
                         </div>

                         <!-- CONTACT FORM -->
                         <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">
                         </form>
                         {{content.field_contact_form}}
                    </div>

               </div>
          </div>
     </section>          
