

     <!-- ABOUT -->
     <section id="about" data-stellar-background-ratio="0.5"{{attributes}}>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="about-info">
                              <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                                   <h4>{{content.field_subtitle.0}}</h4>
                                   <h2>{{content.field_title.0}}</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.4s">
                                  {{content.field_content.0}}
                              </div>
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                            <img src="{{ file_url(content.field_image['#items'].entity.uri.value)}}"
                                 class="img-responsive" 
                                 alt="{{ content.field_image['#items'].alt }}" 
                                 title="{{ content.field_image['#items'].title }}">
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>