     <!-- HOME -->
     <section id="home" class="slider" data-stellar-background-ratio="0.5">
        <div class="row">
            <div class="owl-carousel owl-theme">
			    {% for row in rows %}
			        {{ row.content }}
			    {% endfor %}
			</div>
          </div>
     </section>
