

     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    {{page.logo}}

               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    {{page.primary_menu}}
                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="tel:{{phone}}">
                              {{callnow_text}} <i class="fa fa-phone"></i> {{phone}}</a>
                         </li>
                         <a href="{{reserve_link}}" class="section-btn">
                              {{reserve_text}}
                         </a>
                    </ul>
               </div>

          </div>
     </section>

     <div class="highlighted">
        {{page.highlighted}}
     </div>
    {{page.content}}

     <!-- FOOTER -->
     <footer id="footer" data-stellar-background-ratio="0.5">
          <div class="container">
               <div class="row">

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              {{page.footer_first}}
                         </div>
                    </div>

                    <div class="col-md-3 col-sm-8">
                         <div class="footer-info">
                              {{page.footer_second}}
                         </div>
                    </div>

                    <div class="col-md-4 col-sm-8">
                         <div class="footer-info footer-open-hour">
                              {{page.footer_third}}
                         </div>
                    </div>

                    <div class="col-md-2 col-sm-4">
                         <ul class="wow fadeInUp social-icon" data-wow-delay="0.4s">
                              {% if facebook %}
                                   <li>
                                        <a href="{{facebook}}" class="fa fa-facebook-square" attr="facebook icon"></a>  
                                   </li>
                              {% endif %}
                              {% if twitter %}
                                   <li>
                                        <a href="{{twitter}}" class="fa fa-twitter"></a>
                                   </li>
                              {% endif %}
                              {% if instagram %}
                                   <li>
                                        <a href="{{instagram}}" class="fa fa-instagram"></a>  
                                   </li>
                              {% endif %}
                              {% if googleplus %}
                                   <li>
                                        <a href="{{googleplus}}" class="fa fa-google"></a>  
                                   </li>
                              {% endif %}
                         </ul>

                         <div class="wow fadeInUp copyright-text" data-wow-delay="0.8s"> 
                              <h6 class="copy-title">{{copyright}}</h6>

                              <h6 class="copy-title">Drupal Theme developed by <a href="https://drupalslave.com" target="_blank">Drupal Slave</a> </h6>
                         </div>
                    </div>
                    
               </div>
          </div>
     </footer>
