
    <div id="banner" class="banner full-screen-mode">
        <div class="container pr">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="banner-static">
                    <div class="banner-text">
                        <div class="banner-cell">
                            <h1>401  <span class="typer" id="some-id" data-delay="200" data-delim=":"data-words="Unauthorized:illegal" data-colors="red"></span><span class="cursor" data-cursorDisplay="_" data-owner="some-id"></span> Access</h1>
                           <h2>Unauthorized to access.</h2>
                            <p>
                              You are not authorized to access this page. You must login to view this page.
                            </p> 
                                <div class="book-btn">
                                    <a class="table-btn hvr-underline-from-center" href="{{front_page}}">
                                        Go Home
                                    </a>
                                </div>
                        </div>
                        <!-- end banner-cell -->
                    </div>
                    <!-- end banner-text -->
                </div>
                <!-- end banner-static -->
            </div>
            <!-- end col -->
        </div>
        <!-- end container -->
    </div>
    <!-- end banner -->